.transaction_history {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    width: 600px;
}

table,
th,
td {
    border: 1px solid;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}